﻿@model Universitate.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "Instructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instructor</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*//@Html.DisplayNameFor(model => model.Instructors.OfficeAssignment.Location)*@
            Locatie
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Instructors.LastName)*@
            Last Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Instructors.FirstMidName)*@
            First Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Instructors.HireDate)*@
            Hire Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Instructors)
    {
      
        string culoare = "";
        if(item.ID == ViewBag.InstructorID) {
            culoare = "background-color: green";
        }

        <tr style="@culoare">
            <td>
                @Html.DisplayFor(modelItem => item.OfficeAssignment.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ID })|
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>






@if (Model.Courses != null)
{
    <br />
    <br />
    <h2>Cursuri</h2>
    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                Numar
            </th>
            <th>
                Titlu
            </th>
            <th>
                Departament
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
            </tr>
        }
    </table>
}


@if (Model.Enrollments != null)
{
    <br />
    <br />
    <h2>Studenti</h2>

    <table class="table">
        <tr>

            <th>
                Name
            </th>
            <th>
                Grade
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Enrollments)
                {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}